/* styles.css */

/* General styles for the entire app */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c8e6f0;
    color: #333;
}



body.light, .note.light {
    background-color: white;
    color: black;
}

body.dark, .allNotes.dark, .note.dark, .pagination.dark, .mainPage.dark, .showAddNote.dark{
    background-color: black;
    color: white;
}

.allNotes h1 {
    font-size: 50px;
    margin-left: 1%;
    color: #006000;
}

/* Container for the notes and pagination */
.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

/* Note styling */
.note {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: transform 0.2s;
    text-align: center;
    width: 90%;
    margin-left: 3.7%;
}

.showAddNote{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #c8e6f0;

}

.note:hover {
    transform: scale(1.03);
}

.note h2 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #007bff;
}

.note small {
    display: block;
    margin-bottom: 10px;
    color: #888;
}

.note p {
    margin: 0;
}

/* Pagination styling */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    margin: 0 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: #9930ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

.pagination button:hover {
    background-color: #0056b3;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button[disabled] {
    font-weight: bold;
}

.pagination button:not(:disabled):hover {
    transform: translateY(-2px);
}